print multiples of 3 upto 200 using a list

In [ ]:
print([i for i in range(201) if i%3==0] )

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [ ]:
print([i for i in range(1000,2001) if i%5==0 and i%7==0])

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [ ]:

names=[input() for i in range(int(input("Enter number of string")))]
names.sort()
print(names)
names.sort(reverse=True)
print(names)

Enter n4
hgfjsdfh
sdfhsd
qesdjhf
cvxbjkfdf
['cvxbjkfdf', 'hgfjsdfh', 'qesdjhf', 'sdfhsd']
['sdfhsd', 'qesdjhf', 'hgfjsdfh', 'cvxbjkfdf']

Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [ ]:
import math as m
print([i for i in range(500,1001) if i%5==0 and int((m.sqrt(i)))**2==i ] )

[625, 900]

Get  a string and store word by word as elements in a tuple and find the largest word in the  tuple and print it

In [ ]:
print(max((tuple(input("Enter a string").split())),key=len))

Enter a stringjjs straight outta hell
straight

Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard  and print them in marks descending order with rollno.

In [ ]:
print(sorted(list(tuple(map(int, input("Enter the numbers : ").split())) for i in range(int(input("Enter number of students")))), key=lambda x: x[0],reverse=True))

Enter number of students5
Enter the numbers : 1 60
Enter the numbers : 10 55
Enter the numbers : 7 49
Enter the numbers : 3 52
Enter the numbers : 9 57
[(10, 55), (9, 57), (7, 49), (3, 52), (1, 60)]

Get name and salary (name, salary) as list of tuples for n number of employees through keyboard  and print them in name alphabetical order with salary

In [ ]:
print(sorted(list(tuple(input("Enter the numbers : ").split()) for i in range(int(input("Enter number of students")))), key=lambda x: x[0]))

Enter number of students5
Enter the numbers : Jayraj 3000000
Enter the numbers : Jay 500000
Enter the numbers : Raj 60987
Enter the numbers : Bachchan 10000000
Enter the numbers : zoya 765432
[('Bachchan', '10000000'), ('Jay', '500000'), ('Jayraj', '3000000'), ('Raj', '60987'), ('zoya', '765432')]