Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [2]:
import operator
d={}
for i in range(int(input("Enter number of students: "))):
  str1=input("Enter name: ")
  x=int(input("Enter marks: "))
  d[str1]=x
sorted_d= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_d)

Enter number of students: 2
Enter name: Thrishul
Enter marks: 90
Enter name: Jayaraj
Enter marks: 93
[('Jayaraj', 93), ('Thrishul', 90)]

Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [ ]:
import operator

d={}
for i in range(int(input("Enter number of employees: "))):
  str1=input("Enter name: ")
  x=int(input("Enter salary: "))
  d[str1]=x
sorted_a= sorted(d.items(), key=operator.itemgetter(0))
print(sorted_a)

Enter number of employees: 4
Enter name: Jay
Enter salary: 9877655
Enter name: Raj
Enter salary: 446789
Enter name: Zen
Enter salary: 65883
Enter name: Yuvraj
Enter salary: 86443
[('Jay', 9877655), ('Raj', 446789), ('Yuvraj', 86443), ('Zen', 65883)]

Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary ascending order and sum, max, min and average of the salaries

In [ ]:
import operator

d={}
for i in range(int(input("Enter number of employees: "))):
  str1=input("Enter name: ")
  x=int(input("Enter salary: "))
  d[str1]=x
sorted_a= sorted(d.items(), key=operator.itemgetter(1))
print(sorted_a)
print("Sum is",sum(d.values()))
print("Max is",max(d.values()))
print("Min is",min(d.values()))
print("Avg is",sum(d.values())/len(d))

Enter number of employees: 3
Enter name: Dhoni
Enter salary: 34678
Enter name: Chahal
Enter salary: 46943
Enter name: Kholi
Enter salary: 788766
[('Dhoni', 34678), ('Chahal', 46943), ('Kholi', 788766)]
Sum is 870387
Max is 788766
Min is 34678
Avg is 290129.0

Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [ ]:
d={}
for i in range(int(input("Enter number of employees: "))):
  str1=input("Enter name: ")
  x=int(input("Enter salary: "))
  d[str1]=x
s2 = {key:val for key, val in d.items() if val > 2000 and val < 4000}
print(s2)

Enter number of employees: 2
Enter name: Nadal
Enter salary: 750000
Enter name: Fedrer
Enter salary: 98000
{}

Python program to convert a 3 digit number into words

In [ ]:
def convert_to_words(num):  
    l = len(num);    
    if (l == 0): 
        print("empty string"); 
        return; 
  
    if (l > 4): 
        print("Length more than 4 is not supported"); 
        return;   
    single_digits = ["zero", "one", "two", "three",  
                     "four", "five", "six", "seven",  
                     "eight", "nine"];  
    two_digits = ["", "ten", "eleven", "twelve",  
                  "thirteen", "fourteen", "fifteen",  
                  "sixteen", "seventeen", "eighteen", 
                  "nineteen"];  
    tens_multiple = ["", "", "twenty", "thirty", "forty", 
                     "fifty", "sixty", "seventy", "eighty",  
                     "ninety"]; 
    tens_power = ["hundred", "thousand"];   
    print(num, ":", end = " ");   
    if (l == 1):  
        print(single_digits[ord(num[0]) - '0']); 
        return;  
    x = 0; 
    while (x < len(num)):    
        if (l >= 3): 
            if (ord(num[x]) - 48 != 0): 
                print(single_digits[ord(num[x]) - 48],  
                                           end = " "); 
                print(tens_power[l - 3], end = " ");  
                  
            l -= 1; 
        else:   
            if (ord(num[x]) - 48 == 1):  
                sum = (ord(num[x]) - 48 + 
                       ord(num[x]) - 48); 
                print(two_digits[sum]); 
                return;   
            elif (ord(num[x]) - 48 == 2 and 
                  ord(num[x + 1]) - 48 == 0): 
                print("twenty"); 
                return;  
            else: 
                i = ord(num[x]) - 48; 
                if(i > 0): 
                    print(tens_multiple[i], end = " "); 
                else: 
                    print("", end = ""); 
                x += 1; 
                if(ord(num[x]) - 48 != 0): 
                    print(single_digits[ord(num[x]) - 48]); 
        x += 1;  
convert_to_words("923"); 
convert_to_words("523"); 
convert_to_words("898");

923 : nine hundred twenty three
523 : five hundred twenty three
898 : eight hundred ninety eight


Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content into another file and read it

In [ ]:
fname = input("Enter file name: ")
fname1 = input("Enter another filename: ")
with open(fname, 'r') as f:
  with open(fname1, "w") as f1:
    for line in f:
        l=line.title()
        f1.write(l)
        print(l)

Enter file name: t.txt
Enter another filename: copy.txt
I Can Swallow A Bottle Of Alcohol And I'Ll Feel Like Godzilla

Better Hit The Deck Like The Card Dealer

My Whole Squad'S In Here, Walking Around The Party

A Cross Between A Zombie Apocalypse And Big Bobby "The

Brain" Heenan Which Is Probably The

Same Reason I Wrestle With Mania

Shady'S In This Bitch, I'M Posse'D Up

Consider It To Cross Me A Costly Mistake

If They Sleepin' On Me, The Hoes Better Get Insomnia

Adhd, Hydroxycut

Pass The Courvoisi' (Ayy, Ayy)

In Aa With An Ak, Melee, Finna Set It Like A Playdate

Better Vacate, Retreat Like A Vacay, Mayday (Ayy)

This Beat Is Cray-Cray, Ray J, H-A-H-A-H-A

Laughing All The Way To The Bank, I Spray Flames

They Cannot Tame Or Placate The

Monster (Ayy)

You Get In My Way, I'Ma Feed You To The Monster (Yeah)

I'M Normal During The Day, But At Night, Turn To A Monster (Yeah)

When The Moon Shines Like Ice Road Truckers

I Look Like A Villain Outta Those Blockbusters

Godzilla, Fire Spitter, Monster

Blood On The Dance Floor, And On The Louis V Carpet

Fire, Godzilla, Fire, Monster

Blood On The Dance Floor, And On The Louis V Carpet

I'M Just A Product Of Slick Rick And Onyx, Told 'Em, "Lick The Balls"

Had 'Em Just Appalled At So Many Things That Pissed 'Em Off

It'S Impossible To List 'Em All

And In The Midst Of All This

I'M In A Mental Hospital With A Crystal Ball

Tryna See, Will I Still Be Like This Tomorrow?

Risperdal, Voices Whisper

My Fist Is Balled Back Up Against The Wall, Pencil Drawn

This Is Just The Song To Go Ballistic On

You Just Pulled A Pistol On The Guy With The Missile Launcher

I'M Just A Loch Ness, The Mythological

Quick To Tell A Bitch Screw Off Like A Fifth Of Vodka

When You Twist The Top Of The Bottle, I'M A

Monster (Ayy)

You Get In My Way, I'Ma Feed You To The Monster (Yeah)

I'M Normal During The Day, But At Night, Turn To A Monster (Yeah)

When The Moon Shines Like Ice Road Truckers

I Look Like A Villain Outta Those Blockbusters

Godzilla, Fire Spitter, Monster

Blood On The Dance Floor, And On The Louis V Carpet

Fire, Godzilla, Fire, Monster

Blood On The Dance Floor, And On The Louis V Carpet

If You Never Gave A Damn, Raise Your Hand

'Cause I'M About To Set Trip, Vacation Plans

I'M On Point Like My Index Is, So All You Will Ever Get Is

The Motherfuckin' Finger (Finger), Prostate Exam ('Xam)

How Can I Have All These Fans And Perspire?

Like A Liar'S Pants, I'M On Fire

And I Got No Plans To Retire And I'M Still The Man You Admire

These Chicks Are Spazzin' Out, I Only Get More Handsome And Flier

I Got 'Em Passin' Out Like What You Do When You Hand Someone Flyers

And What Goes Around Comes Around Just Like The Blades On A Chainsaw

'Cause I Caught The Flap Of My Dollar Stack Right Off The Bat Like A Baseball

Like Kid Ink, Bitch, I Got Them Racks With So Much Ease That They Call Me Diddy

'Cause I Make Bands And I Call Getting Cheese A Cakewalk (Cheesecake) Yeah

Bitch, I'M A Player, I'M Too Motherfuckin' Stingy For Cher

Won'T Even Lend You An Ear, Ain'T Even Pretending To Care

But I Tell A Bitch I'Ll Marry Her If She'Ll Bury Her

Face On My Genital Area, The Original Richard Ramirez

Christian Rivera, 'Cause My Lyrics Never Sit Well

So They Wanna Give Me The Chair

Like A Paraplegic, And It'S Scary, Call It Harry Caray

'Cause Every Tom And Dick And Harry Carry A Merriam Motherfuckin' Dictionary

Got 'Em Swearing Up And Down, They Can'T Spit, This Shit'S Hilarious

It'S Time To Put These Bitches In The Obituary Column

We Wouldn'T See Eye To Eye With A Staring Problem

Get The Shaft Like A Steering Column (Monster)

Trigger Happy, Pack Heat, But It'S Black Ink

Evil Half Of The Bad Meets Evil

That Means Take A Back Seat

Take It Back To Fat Petes With A Maxi, Single

Look At My Rap Sheet, What Attracts These People

Is My Gangster, Bitch, Like Apache With A Catchy Jingle

I Stack Chips, You Barely Got A Half-Eaten Cheeto

Fill 'Em With The Venom And Eliminate 'Em

Other Words, I Minute Maid 'Em

I Don'T Wanna Hurt 'Em, But I Did 'Em In A Fit Of Rage

I'M Murderin' Again, Nobody Will Evade Him

Finna Kill 'Em And Dump All The Fuckin' Bodies In The Lake

Obliterating Everything, Incinerate And Renegade 'Em

And I Make Anybody Who Want It With The Pen Afraid

But Don'T Nobody Want It, But They'Re Gonna Get It Anyway

'Cause I'M Beginnin' To Feel Like I'M Mentally Ill

I'M Atilla, Kill Or Be Killed, I'M A Killer Bee, The Vanilla Gorilla

You'Re Bringin' The Killer Within Me Out Of Me

You Don'T Want To Be The Enemy Of The Demon Who Went In Me

Or Being The Recievin' End Of Me, What Stupidity It'D Be

Every Bit Of Me Is The Epitome Of A Spitter

When I'M In The Vicinity, Motherfucker, You Better Duck

Or You Finna Be Dead The Minute You Run Into Me

A Hunnid Percent Of You Is A Fifth Of A Percent Of Me

I'M 'Bout To Fuckin' Finish You Bitch, I'M Unfadable

You Wanna Battle, I'M Available, I'M Blowin' Up Like An Inflatable

I'M Undebatable, I'M Unavoidable, I'M Unevadable

I'M On The Toilet Bowl, I Got A Trailer Full Of Money And I'M Paid In Full

I'M Not Afraid To Pull The

Man, Stop

Look What I'M Plannin', Haha

Python Program to count the number of blank spaces in a text file.

In [ ]:
fname = input("Enter file name: ")
k = 0
 
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            for letter in i:
                if(letter.isspace):
                    k=k+1
print("Occurrences of blank spaces:")
print(k)

Enter file name: t.txt
Occurrences of blank spaces:
4050


Python Program to append the contents of one file to another file by getting the both file names through keyboard

In [ ]:
fname = input("Enter filename: ")
fname1 = input("Enter another filename: ")
with open(fname) as f:
    with open(fname1, "w") as f1:
        for line in f:
            f1.write(line)

Enter filename: t.txt
Enter another filename: copy.txt

Python Program to print all the numbers present in a text file with its total number of occurrence.

In [ ]:

fname = input("Enter file name: ")
d={x:0 for x in range(0,10)}
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            for letter in i:
                if(letter.isdigit()):
                    d[int(letter)]+=1
d1 = {key:val for key, val in d.items() if val > 0}
print(d1)

Enter file name: t.txt
{}

Python Program to count the total number of charaters (except blank space) in a text file.

In [ ]:

fname = input("Enter file name: ")
k = 0
file = open(fname, "r")
data = file.read().replace(" ","")
k = len(data)
print("Total number of characters are::")
print(k)

Enter file name: t.txt
Total number of characters are::
4152